body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: rgba(255, 255, 255, 0.486);
	background: linear-gradient(90deg, #69b7eb, #69b7eb8e, #69b7eb, #69b7eb8e, #69b7eb, #69b7eb8e);
	background-size: 800% 800%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.login-container form input {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.login-container form input ::placeholder {
    color: #999;
}

.login-container form button {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    
    border-width:1px;
    border-style:double;
    border-color:#ccc;
    background: #df4723;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btnSend:hover {
    background: #fff;
    color: #ff0000;
}

.logotipo {
    transition: all 0.3s ease-in-out;
}
  
.logotipo:hover {
    transform: scale(1.3);
}
